@tailwind base;

@layer base {
  html {
    @apply text-slate-300;
  } 
}

@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-fixed bg-gradient-to-br from-slate-900 to-sky-900;
}
